<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Posts</a>
        <a href="#">Albums</a>
    </div>
    <div class="container">
        <div class="numberofitems align-right">
            <span>Number of albums: {{ g.albums|length }}</span>
        </div>
    </div>
    <table id="albums">
        {% for row in range(0,g.rows) %}
        <tr>
            {% for column in range(0, 4 if row<g.rows-1 else g.columns) %}
                <td><a href="{{g.albums[row*4+column].id}}/photos">{{g.albums[row*4+column].title}}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</body>
</html>
