<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
    <div class="navbar">
        <a href="#">Posts</a>
        <a href="albums.html">Albums</a>
    </div>
    <div class="container">
        <div class="searchbar">
            <label for="search">Filter from </label>
            <input type="text" id="search1" placeholder="...">
            <label for="date">to</label>
            <input type="text" id="search2" placeholder="...">
        </div>
        <div class="numberofitems">
            <label for="number">Number of posts: 16</label>
        </div> 
    </div>
    <table id="posts">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>
