<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <div class="navbar">
        <a href="#" class="opacity">Posts</a>
        <a href="{{ url_for('albums.albums') }}">Albums</a>
    </div>
    <div class="container">
        <div class="searchbar">
            <form action="{{ url_for('filter_posts') }}" method="POST">
                <label for="search">Filter from </label>
                <input type="text" name="range_left" placeholder="...">
                <label for="date">to</label>
                <input type="text" name="range_right" placeholder="...">
                <button type="submit">Filtruj</button>
            </form>
        </div>
        <div class="numberofitems">
            <label for="number">Number of posts: {{ posts|length }}</label>
        </div> 
    </div>
    <table id="posts">
        {% for post in posts %}
        {% if loop.index0 % 4 == 0 %}
            <tr>
        {% endif %}
        <td class="post">
            <h2><a href="post/{{post.id}}">{{ post.title }}</a></h2>
        </td>
        {% if loop.index0 % 4 == 3 %}
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</body>
</html>
