<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <div class="navbar">
        <a href="#" class="opacity">Posts</a>
        <a href="{{ url_for('albums.albums') }}">Albums</a>
    </div>
    <div class="container">
        <div class="searchbar">
            <label for="search">Filter from </label>
            <input type="text" id="search1" placeholder="...">
            <label for="date">to</label>
            <input type="text" id="search2" placeholder="...">
        </div>
        <div class="numberofitems">
            <label for="number">Number of posts: 16</label>
        </div> 
    </div>
    <table id="posts">
        {% for post in posts %}
        {% if loop.index0 % 4 == 0 %}
            <tr>
        {% endif %}
        <td class="post">
            <h2>{{ post.title }}</h2>
        </td>
        {% if loop.index0 % 4 == 3 %}
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</body>
</html>
