<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <div class="navbar">
        <a href="#">Posts</a>
        <a href="{{ url_for('albums') }}">Albums</a>
    </div>
    <div class="post-container">
        <div class="single-post">
            <label for="title">Title </label><br>
            <label for="writtenby">Written by: </label><br>
            <label for="body">Body </label>
        </div>
        <div class="comments">
            <label for="comments">Comments</label><br>
        </div> 
    </div>
</body>
</html>
